<div class="catalogue">
   <div class="catalogue-products">
      <h2>{{ currentCategory }}</h2>

      <div class="product-list">
         <div class="list-item">
            <app-catalogue-item></app-catalogue-item>
         </div>
         <div class="list-item">
            <app-catalogue-item></app-catalogue-item>
         </div>
         <div class="list-item">
            <app-catalogue-item></app-catalogue-item>
         </div>
         <div class="list-item">
            <app-catalogue-item></app-catalogue-item>
         </div>
         <div class="list-item">
            <app-catalogue-item></app-catalogue-item>
         </div>
         <div class="list-item">
            <app-catalogue-item></app-catalogue-item>
         </div>
         <div class="list-item">
            <app-catalogue-item></app-catalogue-item>
         </div>
         <div class="list-item">
            <app-catalogue-item></app-catalogue-item>
         </div>
      </div>
   </div>
</div>
