
.catalogue{
  display: flex;
  flex-direction: row;
  margin: 30px;
  height:  100%;
}

.product-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.list-item{
  margin: 50px 50px 0100px 50px;

}
